﻿@model List<ProductModel>
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>
<a asp-controller="Product" asp-action="Create">Create</a>
<table>
    <tr>
        <th>Категория</th>
        <th>Брэнд</th>
        <th>Наименование</th>
        <th>Цена</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.CategoryName</td>
            <td>@product.BrandName</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
        </tr>
    }
</table>

