﻿@model List<FirstMVCApp.DAL.Entities.Brand>

@{
    ViewData["Title"] = "Brands";
}
    <a asp-controller="Brands" asp-action="Create">Create</a>
<table>
    <tr>
        <th>ID </th>
        <th>Наименование</th>

    </tr>
    @foreach (var brand in Model)
    {
        <tr>
            <td>@brand.Id</td>
            <td>@brand.Name</td>
        </tr>
    }
</table>