﻿@model List<FirstMVCApp.DAL.Entities.Category>
@{
    ViewData["Title"] = "Categories";
}
    <a asp-controller="Categories" asp-action="Create">create</a>
<table>
    <tr>
        <th>ID </th>
        <th>Наименование</th>

    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
        </tr>
    }
</table>

